@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat"), url('../fonts/Montserrat-Regular.eot') format('eot'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
    font-family: 'Montserrat-Regular', sans-serif;
    background-color: #000;
    color: #000;
    margin: 0px;
    overflow: hidden;
    user-select: none;
    font-size: 50px
}

#info {
    position: absolute;
    padding: 10px;
    width: 100%;
    /* text-align: center; */
}

a {
    text-decoration: none;
    cursor: pointer;
}

#stats {
    position: absolute;
    top: 0;
    left: 0
}

#stats #fps {
    background: transparent !important
}

#stats #fps #fpsText {
    color: #aaa !important
}

#stats #fps #fpsGraph {
    display: true
}